@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
}
.slider234 >div >div >div >div {
    display: flex !important;
    justify-content: center !important;
}
.open{
    animation-duration: 3000ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-name: slideopen;
    max-height: 0px;
}
@keyframes slideopen {
    from{
        max-height: 0px;
    }
    to{
        max-height: 5200px;
    }
    
}
.open{
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-name: slideclose;
}
@keyframes slideclose {
    from{
        max-height: 200px;
    }
    to{
        max-height: 0px;
    }
    
}